<!-- header-partial -->
<%- include('./layouts/header.ejs') -%>
<!-- partial -->
<%- include('./layouts/skins.ejs') -%>
<!-- partial -->
<!-- partial:partials/_sidebar.html -->
<%- include("./layouts/sidebar.ejs") -%>
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Welcome Admin</h3>
            <h6 class="font-weight-normal mb-0">
              All systems are running smoothly! You have
              <span class="text-primary">3 unread alerts!</span>
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-4 mb-4 d-flex justify-content-center align-items-center"
      >
        <div class="card card-tale" style="width: 15rem; height: 10rem">
          <div class="card-body text-center">
            <p class="mb-4">Total Order</p>
            <p class="fs-30 mb-2"><%= totalOrder %> </p>
            <p>1 year (2022)</p>
          </div>
        </div>
      </div>
      <div
        class="col-md-4 mb-4 d-flex justify-content-center align-items-center"
      >
        <div class="card card-dark-blue" style="width: 15rem; height: 10rem">
          <div class="card-body text-center">
            <p class="mb-4">Total User</p>
            <p class="fs-30 mb-2"><%= totalUser %> </p>
            <p>All signed user</p>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 mb-4  d-flex justify-content-center align-items-center"
      >
        <div class="card card-light-blue" style="width: 15rem; height: 10rem">
          <div class="card-body text-center">
            <p class="mb-4">Toatl Product</p>
            <p class="fs-30 mb-2"><%= totalProduct %> </p>
            <p>All valid product</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="col-md-4 mb-4 d-flex justify-content-center align-items-center"
      >
        <div class="card card-tale" style="width: 15rem; height: 10rem">
          <div class="card-body text-center">
            <p class="mb-4">Out Of Stock</p>
            <p class="fs-30 mb-2">0 Product</p>
            <p></p>
          </div>
        </div>
      </div>
      <div
        class="col-md-4 mb-4 d-flex justify-content-center align-items-center"
      >
        <div class="card card-dark-blue" style="width: 15rem; height: 10rem">
          <div class="card-body text-center">
            <p class="mb-4">Total Category</p>
            <p class="fs-30 mb-2"><%=totalCategory %> </p>
            <p>All category</p>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 mb-4  d-flex justify-content-center align-items-center"
      >
        <div class="card card-light-blue" style="width: 15rem; height: 10rem">
          <div class="card-body text-center">
            <p class="mb-4">Number of Meetings</p>
            <p class="fs-30 mb-2">34040</p>
            <p>2.00% (30 days)</p>
          </div>
        </div>
      </div>
    </div>

    
  </div>
</div>
<!-- content-wrapper ends -->
<!-- partial:partials/_footer.html -->
<%- include('./layouts/footer.ejs') %>
