<!-- header-partial -->
<%- include('./layouts/header.ejs') -%>
<!-- partial -->
<%- include('./layouts/skins.ejs') -%>
<!-- partial -->
<!-- partial:partials/_sidebar.html -->
<%- include("./layouts/sidebar.ejs") -%>
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="container">
        <div
          class="ps-5 d-flex justify-content-center flex-column col-12 mb-4 report"
        >
          <h3 class="font-weight-bold">Welcome Admin</h3>
          <h6 class="font-weight-normal mb-0">
            All systems are running smoothly! You have
            <span class="text-primary">3 unread alerts!</span>
          </h6>
        </div>
      </div>
      <div
        class="col-md-3 mb-4 d-flex justify-content-center align-items-center"
      >
        <div class=" ">
          <div
            class="card-body report d-flex justify-content-center flex-column align-items-center"
          >
            <div
              class="d-flex justify-content-center align-items-center"
              style="
                background-color: rgba(172, 6, 238, 0.24);
                color: rgba(172, 6, 238);
                height: 2.5rem;
                width: 2.7rem;
                border-radius: 5px;
              "
            >
              <i class="mdi mdi-cart text-success"></i>
            </div>
            <p class="fs-30 m-3"><%= totalOrder %></p>
            <p class="mb-4">Total Order</p>
          </div>
        </div>
      </div>
      <div
        class="col-md-3 mb-4 d-flex justify-content-center align-items-center"
      >
        <div class=" ">
          <div
            class="card-body report d-flex justify-content-center flex-column align-items-center"
          >
            <div
              class="d-flex justify-content-center align-items-center"
              style="
                background-color: rgba(8, 192, 248, 0.267);
                color: rgb(8, 192, 248);
                height: 2.5rem;
                width: 2.7rem;
                border-radius: 5px;
              "
            >
              <i class="mdi mdi-account-plus"></i>
            </div>
            <p class="fs-30 m-3"><%= totalUser %></p>
            <p class="mb-4">Total User</p>
          </div>
        </div>
      </div>

      <div
        class="col-md-3 mb-4 d-flex justify-content-center align-items-center"
      >
        <div class="">
          <div
            class="card-body report d-flex justify-content-center flex-column align-items-center"
          >
            <div
              class="d-flex justify-content-center align-items-center"
              style="
                background-color: rgba(20, 255, 20, 0.267);
                height: 2.5rem;
                width: 2.7rem;
                border-radius: 5px;
              "
            >
              <i class="mdi mdi-cart text-success"></i>
            </div>
            <p class="fs-30 m-3"><%= totalProduct %></p>
            <p class="">Toatl Product</p>
          </div>
        </div>
      </div>
      <div
        class="col-md-3 mb-4 d-flex justify-content-center align-items-center"
      >
        <div>
          <div
            class="card-body report d-flex justify-content-center flex-column align-items-center"
          >
            <div
              class="d-flex justify-content-center align-items-center"
              style="
                background-color: rgba(255, 2, 2, 0.212);
                color: rgb(255, 2, 2);
                height: 2.5rem;
                width: 2.7rem;
                border-radius: 5px;
              "
            >
              <i class="mdi mdi-gauge text-success"></i>
            </div>
            <p class="fs-30 m-3">0</p>
            <p class="mb-4">Out Of Stock</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        <div class="report">
          <div class="card-body">
            <h4 style="color: #000972;" class="card-title mt-3 mb-4">Recent Orders</h4>

            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Payment Method</th>
                    <th>Paymnet Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% recentOrders.forEach((order)=>{ %>
                  <tr>
                    <td class="py-4"><%= order._id %></td>
                    <td><%= moment(order.date).format('LL') %></td>
                    <td><%= order.grandTotal %></td>
                    <td><%= order.paymentMethod %></td>
                    <td><%= order.products[0].status %></td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 report">
        <div class="ms-3 mt-4">
          <h5 style="color: #000972;">New Users</h5>
        </div>
        <% newUser.forEach((user)=>{ %>
        <div class="m-4 d-flex row ">
          <div class="col-2">
            <i class="mdi mdi-check-all fs-4 text-success"></i>
          </div>
          <div class="col-10">
            <span> <%= user.name %> </span>
            <p><%= moment(user.name).format('LL') %></p>
          </div>
          
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
<!-- partial:partials/_footer.html -->
<%- include('./layouts/footer.ejs') %>
