<%- include('./layouts/header.ejs') -%>
  <%- include('./layouts/skins.ejs') -%>
    <%- include('./layouts/sidebar.ejs') -%>

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Sale Report</p>
                  <div class="row">
                    <div class="col-12">
                      <div class="table-responsive">
                        <table class="display expandable-table" style="width: 100%">
                          <thead>
                            <tr>
                              <th>DATE</th>
                              <th>TOTAL ORDER</th>
                              <th>TOTAL SOLD PRODUCT</th>
                              <th>AMOUNT</th>
                              <th>PORFIT</th>

                            </tr>
                          </thead>
                          <tbody>
                            <% for(let sales of salesReport){ %>
                              <tr>
                                <td>
                                  <%=sales._id.day%>/<%=sales._id.month%>/ <%=sales._id.year%>
                                <td>
                                  <%= sales.count %>
                                </td>
                                <td>
                                  <%= sales.products %>
                                </td>
                                <td>
                                  <%= sales.totalPrice %>
                                </td>
                                <% let profit=Math.round((sales.totalPrice * 10)/100 )%>
                                  <td>
                                    <%= profit %>
                                  </td>
                              </tr>
                              <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        function changeStatus(status, orderId, proId) {
          axios.post("/admin/order-manage", { status, orderId, proId }).then(() => {
            console.log("evidim");
            window.location.reload();
          });
        }
      </script>



      <%- include('./layouts/footer.ejs') -%>