<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="/user/images/icons/favicon.png" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/vendor/bootstrap/css/bootstrap.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/fonts/iconic/css/material-design-iconic-font.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/fonts/linearicons-v1.0.0/icon-font.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/vendor/animate/animate.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/vendor/css-hamburgers/hamburgers.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/vendor/animsition/css/animsition.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/vendor/select2/select2.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/vendor/daterangepicker/daterangepicker.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/vendor/slick/slick.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/vendor/MagnificPopup/magnific-popup.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/vendor/perfect-scrollbar/perfect-scrollbar.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/css/util.css" />
  <link rel="stylesheet" type="text/css" href="/user/css/main.css" />
  <link rel="stylesheet" href="/style.css" />

  <!--===============================================================================================-->
</head>

<body class="animsition">
  <!-- Header -->
  <header class="header-v4">
    <!-- Header desktop -->
    <div class="container-menu-desktop">
      <!-- Topbar -->
      <div class="top-bar">
        <div class="content-topbar flex-sb-m h-full container">
          <div class="left-top-bar">
            Free shipping for standard order over $100
          </div>

          <div class="right-top-bar flex-w h-full">
            <% if (!login) { %>
              <a href="/signup" class="flex-c-m trans-04 p-lr-25"> Signup </a>

              <a href="/login" class="flex-c-m trans-04 p-lr-25"> Signin </a>
              <% } %>
          </div>
        </div>
      </div>

      <div class="wrap-menu-desktop how-shadow1">
        <nav class="limiter-menu-desktop container">
          <!-- Logo desktop -->
          <a href="/" class="logo">
            <img style="width: 11rem; object-fit: cover" src="/images/Untitled__1_-removebg-preview.png"
              alt="IMG-LOGO" />
          </a>

          <!-- Menu desktop -->
          <div class="menu-desktop">
            <ul class="main-menu">
              <li class="active-menu">
                <a href="/">Home</a>
              </li>

              <li>
                <a href="shop">Shop</a>
              </li>

              <li>
                <a href="contact">Contact</a>
              </li>
            </ul>
          </div>

          <!-- Icon header -->
          <div class="wrap-icon-header flex-w flex-r-m">
            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
              <i class="zmdi zmdi-search"></i>
            </div>

            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="2">
              <a style="color: inherit" href="/wishList"><i class="zmdi zmdi-favorite-outline"></i></a>
            </div>

            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="2">
              <a style="color: inherit" href="/shoping-cart"><i class="zmdi zmdi-shopping-cart"></i></a>
            </div>

            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="zmdi zmdi-account ml-2" style="font-size: 26px"></i>
              </button>

              <div class="dropdown-menu">
                <a class="dropdown-item" href="my-profile">My profile</a>
                <a class="dropdown-item" href="wishList">My whish list</a>
                <a class="dropdown-item" href="view-oreder">My orders</a>
                <div class="dropdown-divider"></div>
                <% if (login) { %>
                  <a class="dropdown-item" href="/logoutUser">Logout</a>
                  <% } %>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
      <!-- Logo moblie -->
      <div class="logo-mobile">
        <a href="/"><img style="width: 8rem; object-fit: cover" src="/images/Untitled__1_-removebg-preview.png"
            alt="IMG-LOGO" /></a>
      </div>

      <!-- Icon header -->


      <!-- Button show menu -->
      <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </div>
    </div>

    <!-- Menu Mobile -->
    <div class="menu-mobile">
      <ul class="main-menu-m">
        <li>
          <a href="/">Home</a>
        </li>

        <li>
          <a href="shop">Shop</a>
        </li>

        <li>
          <a href="shoping-cart">Cart</a>
        </li>

        <li>
          <a href="wishList">Wishlist</a>
        </li>

        <li>
          <a href="my-profile">My profile</a>
        </li>

        <li>
          <a href="contact">Contact</a>
        </li>
        <li>
          <div class="dropdown-divider"></div>
        </li>
        <form action="/" method="post"></form>
        <li>
          <a type="submit" href="#">Logout</a>
        </li>
        </form>
      </ul>
    </div>

    <!-- Modal Search -->
    <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
      <div class="container-search-header">
        <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
          <img src="/user/images/icons/icon-close2.png" alt="CLOSE" />
        </button>

        <form class="wrap-search-header flex-w p-l-15">
          <button class="flex-c-m trans-04">
            <i class="zmdi zmdi-search"></i>
          </button>
          <input class="plh3" type="text" name="search" placeholder="Search..." />
        </form>
      </div>
    </div>
  </header>

  <div class="bg0 m-t-23 p-b-140">
    <div class="container">
      <div class="flex-w flex-sb-m p-b-52 ">
        <div class="flex-w flex-l-m filter-tope-group m-tb-10">
          <a href="shop">
            <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
              All Products
            </button>
          </a>

          <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".Camera">
            Cameras
          </button>

          <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".Headset">
            Headset
          </button>

          <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".Speaker">
            Speakers
          </button>

          <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".watch">
            Watches
          </button>
        </div>

        <div class="flex-w flex-c-m m-tb-10 ">
          <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
            <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
            <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
            Filter
          </div>

          <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
            <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
            <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
            Search
          </div>
        </div>

        <!-- Search product -->
        <div class="dis-none panel-search w-full p-t-10 p-b-15">
          <div class="bor8 dis-flex p-l-15">
            <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
              <i class="zmdi zmdi-search"></i>
            </button>

            <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search" />
          </div>
        </div>

        <!-- Filter -->
        <div class="dis-none panel-filter w-full p-t-10 ">
          <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm ">
            <div class="filter-col1 p-r-15 p-b-27">
              <div class="mtext-102 cl2 p-b-15">Sort By</div>

              <ul>
                <li class="p-b-6">
                  <a href="sohp?sort=default" class="filter-link stext-106 trans-04">
                    Default
                  </a>
                </li>

                <li class="p-b-6">
                  <a href="shop?sort=new" class="filter-link stext-106 trans-04 ">
                    Newness
                  </a>
                </li>

                <li class="p-b-6">
                  <a href="shop?sort=ascending" class="filter-link stext-106 trans-04">
                    Price: Low to High
                  </a>
                </li>

                <li class="p-b-6">
                  <a href="shop?sort=descending" class="filter-link stext-106 trans-04">
                    Price: High to Low
                  </a>
                </li>
              </ul>
            </div>

            <div class="filter-col2 p-r-15 p-b-27">
              <div class="mtext-102 cl2 p-b-15">Price</div>

              <ul>
                <li class="p-b-6">
                  <a href="shop?sort=all" class="filter-link stext-106 trans-04 filter-link-active">
                    All
                  </a>
                </li>



                <li class="p-b-6">
                  <a href="shop?sort=500-1000" class="filter-link stext-106 trans-04">
                    ₹500 - ₹1000
                  </a>
                </li>

                <li class="p-b-6">
                  <a href="shop?sort=1000-50000" class="filter-link stext-106 trans-04">
                    ₹1000 - ₹50000
                  </a>
                </li>

                <li class="p-b-6">
                  <a href="shop?sort=50000-100000" class="filter-link stext-106 trans-04">
                    ₹50000 - ₹100000
                  </a>
                </li>

                <li class="p-b-6">
                  <a href="shop?sort-100000" class="filter-link stext-106 trans-04">
                    ₹100000+
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row isotope-grid">
        <% allProduct.forEach((product)=>{ %>
          <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item <%=product.category %> ">
            <!-- Block2 -->
            <div class="block2">
              <div class="block2-pic hov-img0">
                <img src="/images/<%= product.image %>" alt="IMG-PRODUCT">

                <a href="/product-view?proId=<%= product._id %>"
                  class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                  Quick View
                </a>
              </div>

              <div class="block2-txt flex-w flex-t p-t-14">
                <div class="block2-txt-child1 flex-col-l ">
                  <a href="/product-view?proId=<%= product._id %>"
                    class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                    <%= product.name %>
                  </a>

                  <span class="stext-105 cl3">
                    ₹ <%= product.price %>
                  </span>
                </div>

                <div class="block2-txt-child2 flex-r p-t-3">
                  <% if(login){ %>
                    <% let inWishlist=wishPro.some(item=> item._id.toString() === product._id.toString() ) %>
                      <% if(inWishlist) { %>
                        <button href="#" onclick="deleteWish('<%= product._id %>','<%= product.name %>')">

                          <img class="icon-heart2 dis-block trans-04 " src="../user/images/icons/icon-heart-02.png"
                            alt="ICON">
                        </button>
                        <% }else{ %>
                          <button onclick="addWish('<%= product._id %>','<%= product.name %>')">
                            <img class="icon-heart1 dis-block trans-04 " src="../user/images/icons/icon-heart-01.png"
                              alt="ICON">
                          </button>
                          <% } %>
                            <% }else{ %>
                              <button onclick="addWish('<%= product._id %>')">
                                <img class="icon-heart1 dis-block trans-04 "
                                  src="../user/images/icons/icon-heart-01.png" alt="ICON">
                              </button>
                              <% } %>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
      <section class="d-flex justify-content-center mt-2">
        <% for(let i=1;i<=pageNum; i++){ %>
          <% if(page==i){ %>
            <a class="atag" href="/shop?page=<%= i %>">
              <div class="page focus">
                <%= i %>
              </div>
            </a>
            <% }else{ %>
              <a class="atag" href="/shop?page=<%= i %>">
                <div class="page">
                  <%= i %>
                </div>
              </a>
              <% } %>
                <% } %>
      </section>
    </div>
  </div>
  <script>
    	function addWish(proId,proName){
    axios.patch(`/?proId=${proId}`)
    .then(() =>{
        Swal.fire(proName, "is added to wishlist", "success");
        location.reload()
    })
}

function deleteWish(productId,proName){
        Swal.fire({
              title: "Are you sure?",
              text: "You won't be able to revert this!",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Yes, delete it!",
            }).then((result) => {
              if (result.isConfirmed) {
                axios.delete(`/wishlist?productId=${productId}`)
                  .then((result) => {
                    if (result.data) {
                      Swal.fire(
                        "Deleted!",
                        "Your wishlist has been deleted.",
                        "success"
                      );
                      location.reload()
                    } else {
                      alert("something went wrong");
                    }
                  });
              }
            });

}
  </script>
  <%- include ('./layouts/footer.ejs') %>
</body>

</html>